<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
<title>24h Indoor Air</title>
</head>
<body>
<div class="bgimg_perfect">
<h1>
    <a href="{{ url_for('index') }}">Indoor Air</a>
</h1>
<table class="center" id="table24">
<tr id="tableheader"><th>Timestamp</th><th>Temperature</th><th>Humidity</th></tr>
{% for post in posts %}
<tr><th>{{post.time}}</th><th>{{post.temperature}} °C</th><th>{{post.humidity}} %</th></tr>
{% endfor %}
</table> 
</div>
</body>
</html> 