<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    function reload_database()
    {
        $.ajax({
        type : "GET",
        url : '/reload_db',
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function (data) {
                $('#temp_val').html(data["temperature"] + " °C");
                $('#hum_val').html(data["humidity"] + " %");
                $('#text').text(data["text"]);
                $('#background').removeClass().addClass(data["image"]);
            }
        });
        setTimeout(reload_database, 2000);
    }s
    </script>
</script>
<title>Indoor Air</title>
</head>
<body onload="reload_database()" href="{{ url_for('history') }}">
    <div id="background" class="{{ image_class }}">
<div class="bgimg">
<h1>
    <a href="{{ url_for('index') }}">Indoor Air</a>
</h1>
<table class="center" id="table24">
<tr id="tableheader"><th>Timestamp</th><th>Temperature</th><th>Humidity</th></tr>
{% for post in posts %}
<tr><th>{{post.time}}</th><th>{{post.temperature}} °C</th><th>{{post.humidity}} %</th></tr>
{% endfor %}
</table> 
</div>
</body>
</html> 