<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="{{url_for('static', filename='scripts.js')}}"></script>
        <title>Indoor Air</title>
    </head>
    <body onload="load_chart_data('humidity', ' %', 0, 100)">
        <div id="background1">
        <div class="bgimg">
            <h1>
               <a href="{{ url_for('index') }}">Indoor Air</a>
            </h1>
            <div class="button_wrap">
                <Button class="charts_button" onclick="load_chart_data('humidity', ' %', 0, 100, 24)">24h humidity</Button>
                <Button class="charts_button" onclick="load_chart_data('humidity', ' %', 0, 100, 1)">Last hour humidity</Button>
            </div>
            <br>
            <div id="chart" class="charts"></div>
        </div>   
    </div>
    </body>
</html> 