 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
    function reload_database()
    {
        $.ajax({
        type : "GET",
        url : '/reload_db',
        dataType: "json",
        contentType: 'application/json;charset=UTF-8',
        success: function (data) {
                $('#temp_val').html(data["temperature"] + " °C");
                $('#hum_val').html(data["humidity"] + " %");
                $('#text').text(data["text"]);
                $('#background').removeClass().addClass(data["image"]);
            }
        });
        setTimeout(reload_database, 2000);
    }s
    </script>
</script>
<title>Indoor Air</title>
</head>
<body onload="reload_database()" href="{{ url_for('index') }}">
<div id="background" class="{{ image_class }}">
<h1>
    <a>Indoor Air</a>
</h1>
<table id="txtbox">
    <tr>
        <td id="text">{{content}}</td>
    </tr>
</table>
<table id="fronttable">
<tr>
    <th id="tableheader">Temperature</th>
</tr>
<tr>
    <th id="values_temp"><a href="{{ url_for('history') }}" id="temp_val">
        {%for post in temps%}
        {{post.temperature}} °C
        {% endfor %}
    </a></th>
</tr>
</table>
<table id="fronttable">
    <tr>
        <th id="tableheader">Humidity</th>
    </tr>
    <tr>
        <th id="values_hum" ><a href="{{ url_for('history') }}" id="hum_val">
            {%for post in humis%}
            {{post.humidity}} %
            {% endfor %}
        </a></th>
    </tr>
    </table>
</div>
</body>
</html> 