 <!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}"/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='scripts.js')}}"></script>
<title>Indoor Air</title>
</head>
<body onload="reload_database()" href="{{ url_for('index') }}">
<div id="background" class="{{ image_class }}">
<h1>
    <a>Indoor Air</a>
</h1>
<table id="txtbox">
    <tr>
        <td id="text">{{content}}</td>
    </tr>
</table>
<table id="fronttable">
<tr>
    <th id="tableheader">Temperature</th>
</tr>
<tr>
    <th id="values"><a href="{{ url_for('temp_chart') }}" id="temp_val">
        {{temps}}
    </a></th>
</tr>
</table>
<table id="fronttable">
    <tr>
        <th id="tableheader">Humidity</th>
    </tr>
    <tr>
        <th id="values" ><a href="{{ url_for('hum_chart') }}" id="hum_val">
            {{humis}}
        </a></th>
    </tr>
    </table>
</div>
</body>
</html> 